@import '../../index.scss';

.notification,
.notification--error {
  position: relative;
  padding: 16px 17px;
  max-width: 240px;
  background: #ffffff;
  border-radius: 4px;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #595959;

  &.hidden {
    @include hidden;
  }

  & .icon {
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-right: 9px;
    margin-top: 4px;
  }

  & .notificationContent {
    display: flex;
    align-items: flex-start;
  }

  & .message {
    display: inline-block;
    vertical-align: top;
  }

  & .buttons {
    display: flex;
    float: right;
    column-gap: 8px;

    & button {
      height: 24px;
      background: #ffffff;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      padding: 0 8px;
    }

    & .button--yes {
      background-color: #1890ff;
      color: #ffffff;
    }
  }

  & .close {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -5px;
    right: -5px;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }

    &::after, &::before {
      content: '';
      position: absolute;
      top: 8px;
      width: 13px;
      height: 2px;
      background-color: #1890ff;
    }

    &::after {
      left: 2.5px;
      transform: rotate(45deg);
    }

    &::before {
      right: 2.5px;
      transform: rotate(-45deg);
    }
  }
}

.notification--error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #f5222d;
  color: #f5222d;
}
