@import '../../index.scss';

.notification {
  position: relative;
  padding: 16px 17px;
  width: 240px;
  background: #ffffff;
  border-radius: 4px;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #595959;

  & .icon {
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-right: 9px;
    margin-top: 4px;
  }

  & .notificationContent {
    display: flex;
    align-items: flex-start;
  }

  & .message {
    display: inline-block;
    vertical-align: top;
  }

  & .buttons {
    display: flex;
    float: right;
    column-gap: 8px;

    & button {
      height: 24px;
      background: #ffffff;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      padding: 0 8px;
    }

    & .button--yes {
      background-color: #1890ff;
      color: #ffffff;
    }
  }
}
